/nbproject
node_modules
dist
bower_components
test/bower_components
.tmp
.sass-cache
.DS_Store

app/js/bundle.js
app/scripts/templates.js
app/css/*

*.mp4
*.webm
/app/nbproject/private/
app/nbproject
app/images/usr/
app/fsociety/images/usr/
nbproject/
.DS_Store
